# --- PYTHON CORE ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- ENVIRONMENTS (VirtualEnvs) ---
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# --- IDE & TOOLS SETTINGS ---
.idea/
.vscode/
*.swp
*.swo
.ds_store
.DS_Store
.spyderproject
.spyproject
.ropeproject
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# --- LOGS ---
*.log
log/
server_run/*.log

# --- DATABASE & DATA ---
*.sqlite3
*.db
*.rdb

chroma
huggingface

!data/.gitkeep

chroma_db/
chroma_db_data/

data_map.txt
.gptcache_data_map.txt
faiss.index

# --- MODEL FILES ---
models/
!models/.gitkeep
*.bin
*.pkl
*.h5
*.onnx
# entropy_stats.json 

# --- WEB & FLASK ---
instance/
.webassets-cache
flask_session/
assets/response.json

# --- CELERY ---
celerybeat-schedule
celerybeat.pid

# --- DOCKER ---
docker-compose.override.yml

# --- TESTING ---
.tox/
.nox/
.coverage
htmlcov/
.pytest_cache/
# test/